[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
pytest-cov = "*"
pytest = "*"
pytest-mock = "*"
psycopg2-binary = "*"
tox = "*"

[dev-packages]

[requires]
python_version = "3.11"
