[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pytest = "*"
pytest-mock = "*"
coverage = "*"
pytest-cov = "*"
tox = "*"
asyncpg = "*"
pydantic-settings = "*"
async-timeout = "*"
fastapi-users = {version = "*", extras = ["sqlalchemy", "redis", "oauth"]}
alembic = "*"
sendgrid = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
